flask
pymysql
Flask-Ext
Flask-JWT-Extended
python-consul
bson==0.5.9
Flask
Flask-RESTful
Flask-WTF
jsonschema==2.5.1
mongoengine==0.19.1
pycrypto==2.6.1
PyJWT==1.7.1
pymodm==0.4.2
pymongo==3.9.0
requests==2.14.2
urllib3==1.25.6
Werkzeug==1.0.0
WTForms==2.2.1
pymemcache
python-memcached